
html {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}
a {
	margin-right: 30px;
}
c {
	margin-right: 400px;
}
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #aed7e8;
background: linear-gradient(156deg,rgba(174, 215, 232, 0.6) 0%, rgba(255, 255, 255, 0.6) 35%, rgba(174, 215, 232, 0.6) 49%, rgba(255, 255, 255, 0.6) 70%, rgba(174, 215, 232, 0.6) 100%);
	border-color: rgb(132, 178, 230);
	flex-wrap: wrap;
	padding: 5px;	
	border-style: outset;
	
	margin-bottom: 8px;
	border-radius: 5px;
	  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
	
}
.flex-container0 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;


	margin-left: 300px;
	margin-bottom: 8px;

  
	
}
.flex-container2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;


	margin-left: 300px;
	margin-bottom: 8px;

  
	
}
.flex-container3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;


	margin-right: 200px;
	margin-bottom: 8px;

  
	
}
.flex-container-pysty {
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
	background: rgba(174, 215, 232, 0);
	
	flex-wrap: wrap;
	padding: 5px;	
	
	
	margin-bottom: 8px;
	




}
.flex-container-pysty2 {
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
	

	background: #aed7e8;
	background: linear-gradient(156deg,rgba(174, 215, 232, 0.6) 0%, rgba(255, 255, 255, 0.6) 35%, rgba(174, 215, 232, 0.6) 49%, rgba(255, 255, 255, 0.6) 70%, rgba(174, 215, 232, 0.6) 100%);
	border-color: rgb(132, 178, 230);
	flex-wrap: wrap;
	padding: 5px;	
	border-style: outset;
	
	margin-bottom: 8px;
	
	
	border-radius: 5px;
	  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
	




}
.flex-container-pysty4 {
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
	

	background: #aed7e8;
	background: linear-gradient(156deg,rgba(174, 215, 232, 0.6) 0%, rgba(255, 255, 255, 0.6) 35%, rgba(174, 215, 232, 0.6) 49%, rgba(255, 255, 255, 0.6) 70%, rgba(174, 215, 232, 0.6) 100%);
	border-color: rgb(132, 178, 230);
	flex-wrap: wrap;
	padding: 5px;	
	border-style: outset;
	
	margin-bottom: 8px;
	width: 150px;
	height: 800px;
	border-radius: 5px;
	  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
	




}
.flex-container-pysty3 {
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: left;
	

	background: #aed7e8;
	background: linear-gradient(156deg,rgba(174, 215, 232, 0.6) 0%, rgba(255, 255, 255, 0.6) 35%, rgba(174, 215, 232, 0.6) 49%, rgba(255, 255, 255, 0.6) 70%, rgba(174, 215, 232, 0.6) 100%);
	border-color: rgb(132, 178, 230);
	flex-wrap: wrap;
	padding: 5px;	
	border-style: outset;
	
	margin-bottom: 8px;
	
	height: 800px;
	border-radius: 5px;
	  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
	




}
.flex-item {
	padding: 10px;
	flex: 1;
	border-radius: 5px;
	opacity: 1;
	
	
}
.kuvaoikea {
	margin-left: 500px;
}
.right {
	text-align: right;
}
.yksi {
	flex-grow: 1;		
}
.kaksi {
	flex-grow: 2
}
.kolme {
	flex-grow: 3
}
.nelja {
	flex-grow: 4
}
#haku {
	padding: 5px 2px 5px 2px;
	width: 100%; /* pitää olla tai box-sizing ei toimi */
	box-sizing: border-box;	/* laatikon padding ei vaikuta leveyteen */	
	
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	
	
}
body {
background-image: url("https://preview.redd.it/frutiger-aero-wallpaper-i-whipped-up-in-a-few-hours-hoping-v0-jcaq7gsamypc1.png?auto=webp&s=7542aa8c7ed3362529c9b4cc527698e64e4745ee");
background-color: #cccccc;
background-size: cover;
}
p {
	margin-bottom: 10px;
}
a:hover {
	color:green;

}

